.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
    margin: 0; /* Asegura que no hay márgenes externos afectando la altura */
}

.canvasContainer {
    position: fixed;
    height: auto;
    width: 65%;
    display: block;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    top: 20px;
    left: 20px;
}



.panelConteiner {
    flex: 0 0 30%; /* Ocupa el 30% restante del espacio */
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 70%; /* Comienza después del final del canvasContainer */
    position: relative; /* Si es necesario para más control de posicionamiento */
    height: 100vh; /* Ajusta la altura si es necesario */
}


.control-panel,
.button-panel {
    width: 100%;
    margin: 20px;
}

.control-panel {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.control-item {
    margin-bottom: 10px;
}

.control-item label {
    display: inline-block;
    margin-right: 10px;
    width: 130px;
}

.control-item input,
.control-item button {
    padding: 5px;
    margin-right: 10px;
}
